h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-size: 20px;
    font-family: monospace;
}
h4{
font-weight: 200;
font-size: 20px;

}
small{
    font-style: oblique;
}
.texto-footer{
    /* propiedad shorthand */
    font: italic 100 10px Arial;
}