
/* declarando una fuente */
@font-face{
    font-family: 'RobotoCondensed';
    src: url(./RobotoCondensed-Light.ttf);
}
h1{
    text-align: center;
}
:not(footer)>p:not(.letra-comic){
    text-indent: 40px;
    letter-spacing: 5px;
    word-spacing: 15px;

}
.letra-comic{
    font-family: 'RobotoCondensed';
}
a{
    text-decoration: none;
    color: black;
}

small{
    text-decoration: line-through;
}