*{
    margin: 0;
    box-sizing: border-box;
}

·1{
    margin: 40 px auto 0 px auto;
    height: 500px;
    width: 500px;
    background-color: cadetblue;
}
img{

    width: 500px;
    width: 500px;
}