*{
    margin: 0;
    box-sizing: border-box;
}
#div-1{
    width: 150px;
    height: 150px;
    background-color: tomato;
    animation: cambiacolores 5s ease-in-out 0s infinite normal none;
}
#div-2{
    margin: 100px auto 0px auto;
    width: 150px;
    height: 150px;
    background-image: url(./orco.png);
    background-repeat: no-repeat;
    background-position: center;
    
}
#div-2:hover{
    animation: girar 5s linear 0s infinite normal none;
}
@keyframes cambiacolores{
    0%{
        background-color: green;
    }
    50%{
        background-color: hotpink;
        transform: scale(1.4);
    }
    100%{
        background-color: indigo;
    }
}
@keyframes girar{
0%{
    transform: rotate(0deg);
}
25%{
    transform: rotate(90deg);
}
50%{
    transform: rotate(180deg) scale(1.3);
}
75%{
    transform: rotate(270deg);
}
99%{
    transform: rotate(360deg);
}
100%{
    transform: rotate(360deg);
}

}
