*{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: lightskyblue;
}
aside, section{
    display: inline-block;
}
aside{
    height: 500px;
    background-color: lightsalmon;
    width: 30%;

}
section{
    height: 500px;
    background-color: lightslategray;
    width: 30%;
}